/***
 * General
 ***/

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #f5f6f7;
}

/***
 * Links
 ***/

a {
  color: #0d668a;
}

.button {
  width: 200px;
  height: 50px;
  line-height: 50px;
  border-radius: 4px;
  display: block;
  text-align: center;
  vertical-align: baseline;
  font-size: 20px;
  border-bottom-style: solid;
}

.login {
  background: lightgreen;
  border-color: brown;
}

.logout {
  background: palevioletred;
  border-color: darkslategray;
}

#errormessages {
  border: 1px dashed red;
  padding: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: red;
}
