<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OIDC Demo Client</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

    <h1>OIDC Demo Client</h1>

    {{- if .IdTokenJson}}
    Logged in.

    <p>

    <h2>ID Token Attributes</h2>

    <ul>
        {{- range $key, $value := .IdTokenJson }}
        <li><strong>{{ $key }}</strong>: {{ $value }}</li>
        {{- end }}
    </ul>

    </p>

    <a class="button logout" href="logout">
        Logout {{ if not .Server.EndSessionEndpoint }}<small>(client only)</small>{{ end }}
    </a>

    {{- else}}

    <p>Not logged in.</p>

    <a class="button login" href="{{.AuthCodeURL}}">Login</a>

    {{- end}}

    {{- if .Errors}}
    <div id="errormessages">
        {{- range .Errors}}
        {{.}}<br>
        {{- end}}
    </div>
    {{- end}}
</body>
</html>
